.check-box {
    display: block;
    &:nth-child(1) {
        margin-left: 8px;
    }
}

.body-card {
    width: 3.5rem;
    margin: 0 auto;
}

.small-card {
    width: 2.5rem;
    margin: 0 auto;
}

.card-2 {
    margin-top: .05rem; 
    height: 3.3rem;
}

.time {
    padding-top: .05rem;
    height: 2.4rem;
    overflow-y: scroll;
}